body { font-family: Georgia, Times New Roman, serif; }
#about { 
    z-index: 1000; 
    position: absolute; 
    left: 20px; 
    top: 60px; 
    width: 250px;
    background: #eee;
    border: 1px solid #333;
    padding: 6px;
}
